#menu {
	background:url(../images/menu-rep.jpg) repeat-x;
	height:36px;
}
#menu ul {
	margin:0;
	padding:2px 0px;
	list-style:none;
	white-space:nowrap;
	text-align:left;
}
#menu ul {
	display:inline-block;
}
#menu li {
	margin:0;
	padding:0;
	list-style:none;
}
#menu li {
	display:inline-block;
	display:inline;
}
#menu ul ul {
	position:absolute;
	left:-9999px;
}
#menu ul.level1 {
	margin:0 auto;
}
#menu ul.level1 li.level1-li {
	float:left;
	display:block;
	position:relative;
	color:#fff;
}
#menu ul.level1 li.level1-li.current {
	background:url(../images/menu-hover-rep.jpg) repeat-x;
	color:#fff;
}
#menu ul.level1 li.level1-li.current a.drop {
	background:transparent url(../images/white-down.gif) no-repeat right center;
	color:#fff;
}
#menu ul.level1 li.level1-li.current a.single {
	color:#fff;
}
#menu ul.level1 li.level1-li.current a.subsingle {
	color:#fff;
}
#menu ul.level1-li li.level1-li {
	background:transparent url(../images/menu-hover-rep.jpg) repeat-x;
	color:#fff;
}
#menu b {
	position:absolute;
} /* -- for IE6 non-flyout dropdowns to stop flickering - who knows why --*/
#menu a {
	display:block;
	font:normal 12px verdana, arial, sans-serif;
	color:#000;
	line-height:30px;
	text-decoration:none;
	padding:2px 20px;
}

#menu ul.level1 li.level1-li a.level1-a {
	float:left;
}
#menu ul.level1 li.level1-li a.level1-a:vivited {
	float:left;
	color: #fff;
}
#menu ul li:hover > ul {
	visibility:visible;
	left:0;
	top:34px;
	background:#ffffff;
	box-shadow: 2px 2px 2px 2px #888888;
	z-index:999;
}
#menu ul ul li:hover > ul {
	visibility:visible;
	left:100%;
	top:auto;
	margin-top:-30px;
	margin-left:-4px;
}
#menu li.left:hover > ul {
	visibility:visible;
	left:auto;
	right:0;
	top:25px;
}
#menu li.left ul li:hover > ul {
	visibility:visible;
	left:auto;
	right:100%;
	top:auto;
	margin-top:-25px;
	margin-right:-4px;
}
#menu a:hover ul {
	left:0;
	top:23px;
}

#menu li.left a:hover ul {
	left:auto;
	right:-1px;
	top:23px;
}
#menu li.left ul a {
	text-align:right;
}
#menu a:hover a:hover ul, #menu a:hover a:hover a:hover ul {
	left:100%;
	visibility:visible;
}
#menu li.left a:hover a:hover ul, #menu li.left a:hover a:hover a:hover ul {
	left:auto;
	right:0;
	visibility:visible;
}
#menu a:hover ul ul, #menu a:hover a:hover ul ul {
	left:-9999px;
}
#menu li.left a:hover ul ul, #menu li.left a:hover a:hover ul ul {
	left:-9999px;
}
#menu li a.drop {
	background:transparent url(../images/white-down.gif) no-repeat right center;
}
#menu li a:hover.drop {
	background:transparent url(../images/menu-hover-rep.jpg) repeat-x;
}
#menu li a.fly {
	background:transparent url(../images/white-right.gif) no-repeat right center;
}
#menu li.left ul a.fly {
	background:transparent url(../images/white-left.gif) no-repeat left center;
}
#menu li a:hover, #menu li a.fly:hover {
	color:#fff;
	background-color:#c0c0c8;
}
#menu li:hover > a, #menu ul li:hover > a.fly {
	background:url(../images/menu-hover-rep.jpg) repeat-x;
	color:#fff;
}
#menu table {
	position:absolute;
	height:0;
	width:0;
	left:0;
	border-collapse:collapse;
	margin-top:-6px;
}
#menu table table {
	position:absolute;
	left:99%;
	height:0;
	width:0;
	border-collapse:collapse;
	margin-top:-30px;
	margin-left:-4px;
}
#menu li.left table {
	position:absolute;
	height:0;
	width:0;
	left:auto;
	right:0;
	border-collapse:collapse;
	margin-top:-4px;
}
#menu li.left table table {
	position:absolute;
	left:auto;
	right:100%;
	height:0;
	width:0;
	border-collapse:collapse;
	margin-top:-30px;
	margin-right:-4px;
}
