.bold {
   font-weight: bold;
}

a {
   font-weight: normal;
   text-decoration: none;
   color: #00008B;
}

a:hover {
   color: #9E261A
}

hr {
   noshade: true;
}



td, tr, table, body, a, h1, h2, h3, pre {
   font-size: 11px;
}

textarea {
   font-size: 11px;
   background: #f0f0f0;
}

select {
   
   font-size: 11px;
   background: #f0f0f0;
}

input {
   
   font-size: 11px;
   background: #f0f0f0;
}

checkbox {
   
   font-size: 11px;
   background: #ffffff;
}

.input {
   
   font-size: 11px;
   background: #f0f0f0;
}

.submit {
   width: 140px;
}

.menu {
   font-weight: bold;
   font-size: 12px;
   color: #000000;
}

.text {
   font-weight: normal;
}
.smalltext {
   font-weight: normal;
   font-size: 10px;
}
.smalltextbold {
	font-weight: bold;
   font-weight: normal;
   font-size: 10px;
}
.bigtext {
   font-weight: normal;
   font-size: 11px;
}

.bigtextbold {
   font-weight: bold;
   font-size: 11px;
}

.green {
   
   font-size: 11px;
   font-weight: normal;
   text-decoration: none;
   color: #006400;
}

.header {
   
   font-size: 11px;
   font-weight: normal;
   text-decoration: none;
   color: black;
}

.blue {
   
   font-size: 11px;
   text-decoration: none;
   color: blue;
}

.silver {
   
   font-size: 11px;
   color: #606060;
}

.info {
   
   font-size: 10;
   font-weight: normal;
   text-decoration: none;
   color: #C0C0C0;
}

.redbold {
   
   font-size: 11px;
   font-weight: bold;
   text-decoration: none;
   color: red;
}

.greenbold {
   
   font-size: 11px;
   font-weight: bold;
   text-decoration: none;
   color: green;
}

.own {
   
   font-size: 12;
   font-weight: bold;
   text-decoration: none;
   color: green;
}

.nm {
   
   font-size: 11px;
   font-weight: bold;
   text-decoration: none;
   color: #9E261A;
}

.small {
   
   font-size: 10px;
   text-decoration: none;
}

.red {
   
   font-size: 11px;
   text-decoration: none;
   color: red;
}

fieldset {
   border-style: solid;
   border-width: 1pt;
   border-color: gray;
}

legend {
   
   font-size: 11px;
   color: #A0A0A0;
}

.collapse {
   border-style: solid;
   border-width: 1pt;
   border-color: gray;
   border-collapse: collapse;
}

.bordered {
   border-style: solid;
   border-width: 1pt;
   border-color: #aaaaaa;
}

.noborder {
   border-style: none;
   border-width: 0pt;
   border-color: #aaaaaa;
}

